<%= render partial: "shared/profile", locals: { user: @user} %>
<div class="col-md-8 col-md-offset-1">
  <%= render partial: "shared/user_group", locals: {user: @followings, user_title: "Following"} %>
  </div>