  <%= render partial: "shared/profile", locals: { user: @user} %>
  <div class="tweets col-md-2">
    <h3>Likes</h3>
    <% @likes.each do |tweet| %>
      <%=render partial: "shared/msg", locals: msg: tweet, msg_content: tweet.description, msg_btn: true} %>
  <% end %>
</div>
    
