<div class="col-md-3">
  <%= render partial: "shared/avatar", locals: {avatar: reply.user.avatar} if reply..avatar? %>
</div>
<div class="col-md-9">
  <p>
    <%= reply.user.name %>
    <%= link_to reply.user.name, tweets_user_path(reply.user) %>
  </p>
  <p><%= simple_format(reply.comment) %></p>
</div>